@model WebStore.Models.EmployeeView

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <table>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Возраст</td>
            <td>Отдел</td>
        </tr>
        <tr>
            <td>@Model.FirstName</td>
            <td>@Model.SurName</td>
            <td>@Model.Patronymic</td>
            <td>@Model.Age</td>
            <td>@Model.Department</td>
            <td>@Html.ActionLink("Back", "Index")</td>
        </tr>
    </table>
</body>
</html>
